
vs2019_project/.vs/ft2-clone/v16/.suo
vs2019_project/ft2-clone/Release/ft2-clone.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-clone/x64/Debug/ft2-clone.vcxproj.FileListAbsolute.txt
vs2019_project/ft2-clone/Debug/ft2-clone.vcxproj.FileListAbsolute.txt
.DS_Store
*.exe
*.db
*.ilk
*.pdb
*.obj
*.log
*.res
*.tlog
*.idb
*.cache
*.ipch
*.opendb
*.cod
*.db-wal
*.db-shm
*.recipe
*.iobj
*.enc
/vs2019_project/.vs/ft2-clone/FileContentIndex/1448c410-7b38-4102-a4d8-60cd6c1e8a0e.vsidx
/vs2019_project/.vs/ft2-clone/FileContentIndex/68753faf-3de0-4ea4-9cf1-f1f085696d42.vsidx
